amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
diff-match-patch==20241021
Django==4.2.7
django-celery==3.1.17
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-debug-toolbar==4.3.0
django-filter==25.1
django-import-export==4.3.7
django-model-utils==5.0.0
django-recaptcha==4.1.0
django-simple-history==3.8.0
django-tinymce==4.1.0
django-unfold==0.54.0
gunicorn==23.0.0
kombu==5.5.2
packaging==24.2
pillow==11.1.0
prompt_toolkit==3.0.50
python-dateutil==2.9.0.post0
redis==5.2.1
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
vine==5.1.0
wcwidth==0.2.13
